// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.tasks_title {
  height:40px;
}

.tasks_new {
  padding-top: 20px;
  border-top: 2px solid #dee7ec;  
}
